<%- include('../patch/topper.ejs') %>
<div class="bg-black text-white flex">
  <%- include('./profileSidebar.ejs') %>
  <div class="flex flex-col items-center justify-center p-6 w-full max-w-md mx-auto">
    <h2 class="text-2xl text-orange-400 font-serif font-bold mb-4">Change Password</h2>
    <form class="w-full space-y-4" action="/profile/change-password" method="post" id="changePasswordform">
           
      <div class="flex flex-col space-y-1">   
        <input type="password" placeholder="Current Password" id="currentPassword" name="currentPassword" class="p-2 rounded bg-[#1f1f1f] text-white" required />
        <p id="currentPasswordError" class="text-red-500 text-sm" aria-live="assertive"></p>
      </div>

     
      <div class="flex flex-col space-y-1"> 
        <input type="password" placeholder="New Password" id="newPassword" name="newPassword" class="p-2 rounded bg-[#1f1f1f] text-white" required />
        <p id="newPasswordError" class="text-red-500 text-sm" aria-live="assertive"></p>
      </div>

      <div class="flex flex-col space-y-1"> 
        <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" class="p-2 rounded bg-[#1f1f1f] text-white" required />
        <p id="confirmPasswordError" class="text-red-500 text-sm" aria-live="assertive"></p>
      </div>

      <div class="flex justify-center">
        <button type="submit" onclick="sweet()" class="bg-red-600 text-white py-2 px-6 rounded-lg hover:bg-red-700 transition">change password</button>
       
      </div>
    </form>
  </div>
</div>
<%- include('../patch/bottom.ejs') %>

<script>

  const form = document.getElementById('changePasswordform')
  const currentPassword = document.getElementById('currentPassword')
  const newPassword = document.getElementById('newPassword')
  const confirmPassword = document.getElementById('confirmPassword')

  const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])(?!.*\s)[A-Za-z\d!@#$%^&*]{6,}$/;

  
  newPassword.addEventListener("input",function() {
    if(!passwordPattern.test(newPassword.value)) {
      newPasswordError.textContent ="Password must be at least 6 characters long, include upper and lower case letters, a digit and a special character."
    }else{
      newPasswordError.textContent =""
    }
  })
  confirmPassword.addEventListener("input",function (){
    if(newPassword.value !== confirmPassword.value) {
      confirmPasswordError.textContent = "The password you entered do not match.Please try again"
    } else {
      confirmPasswordError.textContent = ""
    }
  })

  form.addEventListener('submit', function(event) {
    let valid = true

    if(!passwordPattern.test(newPassword.value)) {
      newPasswordError.textContent = "Password must be at least 6 characters long, include upper and lower case letters, a digit and a special character."
      valid = false
    }

    if(newPassword.value !== confirmPassword.value) {
      confirmPasswordError.textContent = "The passwords you entered do not match. Please try again."
      valid = false
    }

    if(!valid) {
      event.preventDefault()
    }
  })

  //Sweet alert on submit
  function sweet() {
    Swal.fire({
      title: 'Product Added!',
      text: 'Your product has been successfully added.',
      icon: 'success',
      confirmButtonText: 'Okay'
    });
  }
</script>